

<div class="row align-items-md-stretch">
  <% @messages.each do |message| %>
  <div class="col-md-6 my-3">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2><%= message.title.capitalize %></h2>
          <p><%= message.description.truncate(50) %></p>
          <%= link_to "Read More", message_path(message), class:"btn btn-outline-light btn-info" %>
        </div>
      </div>
     <% end %>
  </div>



